{% extends 'blog/base.html' %}
{% load static %}
{% block title %}TECH BLOG{% endblock title %}
{% block content %}
<div class="col-sm-10">
    <h1 class="text-center alert alert-primary">TECH BLOG HOME PAGE</h1>
    {% for blog in blogs reversed %}
    <div class= "jumbotron jumbotron-fluid jumbo-color">
        <div class="container">
            <a href="/blog/{{blog.id}}" style="text-decoration: none; ">
                <h2 class="display-3 font-weight-bold">{{ blog.title }}</h2>
                <p class="lead text-dark">{{ blog.cont|truncatewords:20 }}</p>
            </a>
           s
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}